@layer utilities {
    .container-lg {
        max-width: var(--container-lg);
        margin-inline: auto;
        padding-inline: var(--container-padding);
    }
    
    .container-sm {
        max-width: var(--container-lg);
        margin-inline: auto;
        padding-inline: var(--container-padding);
    }
}