---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.scss';
---
<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>Astro Basics</title>
</head>

<body>
	<Header />
	<div class="container-lg">
		<div class="bg-gray-100 text-center p-10">
			<h1 class="text-4xl bg-brand-500 text-brand bg-gray font-black">Hello from Astro + Tailwind!</h1>
			<h1 class="text-3xl font-bold text-primary bg-brand text-white text-red-500">
				Hello from Astro + Tailwind!
			</h1>
			<p class="mt-4 text-gray-600">This is your new project setup 🎉</p>
			<div class="bg-primary text-secondary hover:bg-accent">
				<h2 class="text-brand-500">My Content</h2>
			</div>
		</div>
		<slot />
	</div>
	<Footer />
</body>

</html>